@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    border:0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

.linkFooter {
    color: white;
    text-decoration: none;
    transition: .2s;
}

.linkFooter:hover {
    color: rgb(158, 158, 158);
}

header{
    overflow-y: hidden;
}

nav{
    display: flex;
    height: 8rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem;
}

.nav-mid a{
    color: #000;
}

.nav-right a{
    color: #000;
}

.nav-right a:visited{
    color: #000;
}

nav.mid a:visited{
    color: #000;
}

.vestibulinho{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background: linear-gradient(90deg, #7453FF 0%, #C853FF 100%);
    color: #FFF;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.emoji{
    font-size: 18px;
    font-style: normal;
    margin-bottom: 5px;
}

.vestibulinho i{
    padding-right: 5px;
}

.vestibulinho a:visited{
    color: #FFF;
}

.nav-mid a{
   margin: 0 1rem;
}

.nav-mid a, .nav-right a{
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.nav-mid a:visited, .nav-right a:visited{
    color: #000;
}

.container-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    margin-top: 10vh;
}

.container-sobre-color{
    background-color: #F7F6F9;
    padding-bottom: 2rem;
}

.container-right-sobre{
    width: 39rem;
}

.inscricao-button{
    display: inline-flex;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 15.625rem;
    height: 3.75rem;
    color: white;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-600, #7F56D9);
    background: var(--primary-600, #7F56D9);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem;
    cursor: pointer;
    overflow-y: hidden;
    transition: .2s;
}

.inscricao-button:hover {
    background: #4f21b1;
}

.conheca-button{
    width: 13.5625rem;
    height: 3.75rem;
    display: flex;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-100, #F4EBFF);
    background: var(--primary-100, #F4EBFF);
    font-size: 1.125rem;
    color: var(--primary-700, #6941C6);
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem;
    cursor: pointer;
    overflow-y: hidden;
    transition: .2s;
}

.conheca-button:hover {
    background: #d4d4d4;
}

.container-right-sobre-buttons{
    display: flex;
    margin-top: 1.69rem;
    gap: 1.88rem;
}

.container-right-sobre-buttons a{
    text-decoration: none;
}

.container-right-sobre-estude h1 span{
    color: #9179F5;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.container-right-sobre-estude h1{
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.container-right-sobre-estude h3{
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 600;
    margin-top: 1rem;
    line-height: normal;
}

.container-trabalham{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.12rem;
}

.container-trabalham-top h2{
    color: #000;
    font-size: 1.6875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container-trabalham-top h2 span{
    color: #8242EA;
    font-size: 1.6875rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.container-trabalham-bottom{
    display: flex;
    align-items: center;
    gap: 4.75rem;
}

.container-mercado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    margin-top: 5rem;
}

.texto{
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    border-left: 2px solid rgb(182, 182, 182);
    padding-bottom: 10vh;
    padding-top: 10vh;
    gap: 2rem;
}

.primeiro{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#muie{
    width: 28vw;
    padding-right: 5vw;
}

.primeiro h1{
    font-size: 1.5rem;
}

#um{
    color: rgba(77, 77, 77, 1);
    font-size: 1rem;
    font-weight: 600;
}

#dois{
  color: rgba(128, 128, 128, 1);
  font-size: 15px;
  font-weight: 600;
}

.icones{
    width: 5vw;
    vertical-align: middle;
}

.segundo{
    display: flex;
    flex-direction: column;
}

.container-disciplinas{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #F7F6F9;
}

.disciplinas{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-direction: column;
}

.disciplinas p{
    color: rgba(0, 0, 0, 0.70);
}

.pdf{
    width: 80vw;
    height: 80vh;
    margin-top: 1.5rem;
    background-color: #F3F3F3;
}

.container-perfil{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    margin-bottom: 3rem;
}

.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.5rem;
}

.main-perfil{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 6rem;
    width: 100%;
    overflow-y: hidden;
}

.options-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18rem;
    height: 2.8rem;
    background-color: transparent;
    cursor: pointer;
}

.options-menu p{
    margin-left: 1rem;
}

.options-menu-left{
    display: flex;
}

.activatedE{
    color: #F86526;
}

.activatedE svg path{
    fill: #F86526;
}

.activatedV{
    color: #A042EA;
}

.activatedV svg path{
    fill: #A042EA;
}

.activatedA{
    color: #42EA7B;
}

.activatedA svg path{
    fill: #42EA7B;
}

.activatedEm{
    color: #4285EA;
}

.activatedEm svg path{
    fill: #4285EA;
}

.options{
    display: flex;
    flex-direction: column;
    height: 218px;
    gap: 0.8rem;
}

.container-escolha{
    width: 620px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.13rem;
}

.container-escolha a{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 1.5rem;
    gap: 0.75rem;
    color: #8242EA;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container-escolha a:visited{
    color: #8242EA;
}

.group48{
    margin-top: 2rem;
}

.perfil-botoes{
    display: flex;
}

.perfil-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.2rem;
}


/* FOOTER */

.footer{
    display: flex;
    width: 1600px;
    height: 200px;
    padding: 48px 0px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: #1D1C35;
}
    
.footerTop {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
    
.footerTopLeft {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
    
.footerTopLeftP {
    width: 443px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}
    
.footerTopLeftB {
    width: 188px;
    height: 40px;
    padding: 10px 20px;
    
    border-radius: 6px;
    background: #7F56D9;
    color: white;
    transition: .2s;
    cursor: pointer;
}
    
.footerTopLeftB:hover {
    background: #9162f7;
}
    
.footerTopRight {
    display: flex;
    gap: 70px;
}
    
.footerTopRight1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
    
.footerBlackTxt {
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 14px */
    letter-spacing: 0.4px;
    text-transform: uppercase;
    opacity: 0.5;
}
    
.footerTopRight1Bottom {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}
    
    .footerBottom {
    width: 80vw;
    display: flex;
    padding-left: 150px;
    justify-content: space-between;
}
    
.footerBottomLeftTxt {
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
}
    
.footerBottomRight {
    display: flex;
    gap: 30px;
}

@media (max-width:600px){
    * {
        padding:0;
        margin:0;
        vertical-align:baseline;
        border:0;
        font-family: 'Inter', sans-serif;
    }
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }
    
    .texto{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        border: 0;
        padding-left: 0;
    }
    
    #muie{
        width: 40vw;
        margin-top: 0px;
        padding-right: 0;
    }
    
    #um{
        color: rgba(77, 77, 77, 1);
        font-size: 15px;
        font-weight: 600;
    }
    
    #dois{
      color: rgba(128, 128, 128, 1);
      font-size: 15px;
      font-weight: 600;
    }
    
    .icones{
        width: 10vw;
        vertical-align: middle;
    }
    
    .segundo{
        display: flex;
        flex-direction: column;
        border-top: 2px solid rgb(182, 182, 182);
        padding-top: 20px;
    }

}